* {
	padding: 0;
	margin: 0;
	outline: none;
}


a img {
	border: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

html,body {
	height: 100%;
}

body {
	background: #b5b4c0;
}

a, a img {
	border: none;
	outline: none;
}

input {
	outline: none;
}

#container {
	padding: 19px;
	min-width: 1400px;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

#content {
	background: #e1e1e3;
	
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(ie-css3.htc);
	
}


#content #c_top {
	
	height: 50px;
	font: 14px 'bebasneue_book', sans-serif;
	color: #929292;
	
}

#content #c_top #ct_content {
	padding: 20px 20px 0px;
}

#content #c_top #ct_content .hotkey {
	float: right;
}

#content #c_middle {
	padding: 17px 20px 20px;
	background: #f5f5f5;
	min-height: 521px;
	font-family: "Conv_SeroPro-Bold", sans-serif;
	
	
	font: 22px "Conv_SeroPro-Bold", sans-serif;
	color: #333;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
}

#content #c_middle #cm_title {
	padding: 0 0 0 50px;
	background: url(../img/elements/icons_megahorn.png) left center no-repeat;
}

#content #c_middle .small_title {
	font: 12px 'bebasneue_book', sans-serif;
	color: #929292;
	display: block;
	padding: 0 0 2px;
}

/* Down Arrow */

.down_arrow {
	text-align: center;
	height: 43px;
}

.down_arrow a {
	text-decoration: none;
}

.down_arrow a img {
	vertical-align: bottom;
	width: 36px;
	height: 32px;
}

/* lower form */

#input_text_block {
	float: right;
	position: relative;
	right: 180px;
	padding: 4px 0 0;
}

#input_text_block .itb_title {
	text-align: right;
	width: 310px;
}

#input_text_block .input_text_wrap {
	width: 310px;
	height: 70px;
	background: url(../img/elements/text_input.gif) left top no-repeat; /* Привычка от ie6 */
	float: left;
}

#input_text_block .input_text_wrap input {
	display: block;
	width: 300px;
	position: relative;
	top: 10px;
	left: 5px;
	border: none;
	background: none;
	outline: none;
	text-align: right;
	
	font: 40px 'bebasneue_book', sans-serif;
	color: #000;
}

.itb_sub {
	float: left;
	display: block;
	margin-left: 10px;
	
	font: 30px 'bebasneue_book', sans-serif;
	color: #c4c4c4;
	padding: 42px 0 0;
}

/* Because of glowing of text */

#btn_next {
	float: right;
	width: 93px;
	height: 40px;
	
	position: relative;
	top: -7px;
	
}

#btn_next img {
	width: 93px;
	height: 40px;
	display: block;
}

/* Account Block */

.account_block {
	padding: 16px 410px 30px 0;
}

.account_block .ab_select_wrap {
	height: 64px;
	border: 1px solid #929292;
	margin: 3px 0 0 -5px;
	position: relative;
}

/* ToolTip */

.ab_select_wrap .ab_tooltip {
	position: absolute;
	left: 100%;
	top: -10px;
	display: none;
	
	background: white;
	width: 400px;
	padding: 24px 21px 20px;
	
	-moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
	behavior: url(ie-css3.htc);
	
	font: 14px 'bebasneue_book', sans-serif;
	color: #333;
	z-index: 20;
}

.ab_select_wrap:hover .ab_tooltip {
	display: block;
}

.ab_tooltip div {
	padding: 0 0 12px;
}

.ab_tooltip div span {
	color: #929292;
}

.ab_tooltip div.abtt_title {
	font-size: 16px;
	color: #929292;
	padding: 0 0 13px;
}

.ab_tooltip table {
	margin: 3px 0 0;
	border-collapse: collapse;
}


.ab_tooltip table td {
	text-align: left;
	padding: 12px 0 0;
}

.ab_tooltip table td.abt_title {
	color: #929292;
}

/* Clickable overlay */



/* Single object */

.abs_object {
	position: relative;
	height: 64px;
	font-size: 20px;
}

.abs_topwrap {
	position: relative;
	height: 64px;
}

.abs_object:hover {
	background: #3fc33e;
	background: -moz-linear-gradient(top,  #3fc33e 0%, #37ac36 100%);
	background: -webkit-linear-gradient(top,  #3fc33e 0%,#37ac36 100%);
	background: linear-gradient(to bottom,  #3fc33e 0%,#37ac36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc33e', endColorstr='#37ac36',GradientType=0 );
	
	border: 1px solid #4d9abf;
	
	color: white;
}

.abs_topwrap {
	cursor: pointer;
}

.abs_topwrap:hover {
	background: #3fc33e;
	background: -moz-linear-gradient(top,  #3fc33e 0%, #37ac36 100%);
	background: -webkit-linear-gradient(top,  #3fc33e 0%,#37ac36 100%);
	background: linear-gradient(to bottom,  #3fc33e 0%,#37ac36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc33e', endColorstr='#37ac36',GradientType=0 );
	
	border: 1px solid #4d9abf;
	
	color: white;
}

.abs_topwrap .abs_object {
	cursor: pointer;
	background: url(../img/elements/icons_arrow_d_dw.png) 98% center no-repeat;
}

.abs_topwrap .abs_object:hover {
	margin: -2px;
}

.abs_object .abso_icon {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 64px;
	height: 43px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.abs_safe .abso_icon {
	background-image: url(../img/products/icon_depositariy64.png);
}

.abs_safe.abs_locked .abso_icon {
	background-image: url(../img/products/icon_depositariy64Blocked.png);
}

.abs_master .abso_icon {
	background-image: url(../img/products/icon_cards_m64.png);
}

.abs_master.abs_locked .abso_icon {
	background-image: url(../img/products/icon_cards_m64Blocked.png);
}

.abs_visa .abso_icon {
	background-image: url(../img/products/icon_cards_v64.png);
}

.abs_visa.abs_locked .abso_icon {
	background-image: url(../img/products/icon_cards_v64Blocked.png);
}

.abs_object .abso_title {
	position: absolute;
	left: 85px;
	top: 20px;
	margin-right: 315px;
	white-space: nowrap;
}

.abs_object .abso_title .absot_state {
	color: #f00;
}

.abs_object .abso_price {
	position: absolute;
	top: 20px;
	right: 62px;
	width: 250px;
	
	text-align: right;
	white-space: nowrap;
}

.abs_object .abso_price .absop_kop {
	font-size: 16px;
}

.abs_object .abso_state {
	position: absolute;
	top: 21px;
	right: 16px;
	width: 30px;
	height: 30px;
	background: url(../img/elements/icons_checked_black.png) left top no-repeat;
	display: none;
}

/* hidden block */

.abs_list_block {
	position: absolute;
	left: -1px;
	top: 64px;
	width: 100%;
	background: #f5f5f5;
	border-left: 1px solid #29a137;
	border-right: 1px solid #29a137;
	border-bottom: 1px solid #29a137;
	
	display: none;
	z-index: 10;
/*	
	max-height: 264px;
	overflow: visible;
	*/
}

.absl_shown {
	display: block;
}

.abs_list_block .abs_list_wrap {
	border-top: 1px solid #29a137;
	height: 264px;
}

.abs_list_block .abs_object {
	position: relative;
	border: 1px solid #29a137;
	margin: -1px 0 0;
	height: 66px;
	cursor: pointer;
}

.abs_list_block .abs_object:hover {
	border: 1px solid #4d9abf;
}

.abs_list_block .abs_object_chosen {
	background: #e5e5e5;
}

.abs_list_block .abs_object_chosen:hover {
	background: #3fc33e;
	background: -moz-linear-gradient(top,  #3fc33e 0%, #37ac36 100%);
	background: -webkit-linear-gradient(top,  #3fc33e 0%,#37ac36 100%);
	background: linear-gradient(to bottom,  #3fc33e 0%,#37ac36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc33e', endColorstr='#37ac36',GradientType=0 );
	
	border: 1px solid #4d9abf;
	
	color: white;
}

.abs_list_block .abs_object_locked {
	background: #e5e5e5;
	border: 1px solid #29a137;
	cursor: default;
}

.abs_list_block .abs_object_locked:hover {
	background: #e5e5e5;
	border: 1px solid #29a137;
	color: black;
}

.abs_list_block .abs_object_chosen .abso_state {
	display: block;
}

#content #c_middle .absl_title {
	padding: 2px 5px 6px 12px;
	border-bottom: 1px solid #29a137;
}

.scroll-pane {
    width: 700px; /* Ширина видимой области*/
    height: 275px; /* Высота видимой области*/
    overflow: auto; /* Если отключены скрипты это правило позволит отобразить обычный скролл */
}


/* ScrollPane */

.scroll-pane {
/*	width: 400px;  Ширина видимой области*/
	height: 275px; /* Высота видимой области*/
	overflow: auto; /* Если отключены скрипты это правило позволит отобразить обычный скролл */
}
